:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(18, 18, 18);
  background-color: #F2F2F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: clip;
  width: auto;
  height: auto;
}

body {
  margin: 0;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: clamp(1rem, 14vw, 4.2rem);
  letter-spacing: 2px;
  line-height: 1.1;
}

/* Section 1. */
#name-title {
  height: 50%;
  width: 100vw;
  text-align: center;
  font-size: clamp(4.2rem, 14vw, 2000px);
  letter-spacing: 5px;
  overflow: hidden;
}

#first-name,
#last-name {
  display: inline-block;
  will-change: transform;
}

/* #hero {
  position: absolute;
  bottom: 0;
  height: 50vh;
  user-select: none;
  z-index: 10;
} */

/* Section 2. */
#horizontal-project-exp-section {
  height: auto;
  width: auto;
  position: relative;
}

#projects-exp-title {
  position: relative;
  font-size: clamp(4.2rem, 7vw, 1000px);
  text-align: center;
}

#project-word,
#exp-word,
.ampersand {
  display: inline-block;
  will-change: transform;
}

#projects-wrapper {
  display: flex;
  position: absolute;
  left: 100vw;
  height: 100vh;
  width: auto;
  will-change: transform;
}

.project {
  width: 100vw;
  padding-top: 1px;
  height: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

