:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(18, 18, 18);
  background-color: #F2F2F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: clip;
  width: auto;
  height: auto;
}

body {
  margin: 0;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: clamp(3rem, 7vw, 1000px);
}

h2 {
  font-size: clamp(2rem, 5vw, 4.2rem);
  margin: 0;
}

h1,
h2 {
  letter-spacing: 2px;
  line-height: 1.1;
}

p,
li {
  font-size: clamp(1rem, 3vh, 32px);
  margin: 10px;
  width: 50%;
}

@media only screen and (max-width: 425px) {
  p {
    font-size: 25px;
    width: auto;
  }
}

/* Section 1: Intro.*/
#github-icon,
#linkedin-icon {
  height: 3vh;
  width: auto;
  margin: 5px;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  #github-icon,
  #linkedin-icon {
    height: 5vh;
    width: auto;
    margin: 5px;
    padding: 0;
  }
}

#name-title {
  height: 50%;
  width: 100vw;
  text-align: center;
  font-size: clamp(4.2rem, 14vw, 2000px);
  letter-spacing: 5px;
  overflow: hidden;
}

#first-name,
#last-name {
  display: inline-block;
  will-change: transform;
}

/* #hero {
  position: absolute;
  bottom: 0;
  height: 50vh;
  user-select: none;
  z-index: 10;
} */

/* Section 2: Projects and Experience. */
#horizontal-project-exp-section {
  height: auto;
  width: auto;
  position: relative;
}

#projects-exp-title {
  position: relative;
  text-align: center;
}

#project-word,
#exp-word,
.ampersand {
  display: inline-block;
  will-change: transform;
}

#projects-wrapper {
  display: flex;
  position: absolute;
  left: 100vw;
  height: 100vh;
  width: auto;
  will-change: transform;
}

.project {
  width: 100vw;
  text-align: center;
}

img {
  height: 7vh;
  width: auto;
  margin: 2vw;
  padding: 5px;
  border-radius: 20%;
  transition: box-shadow 300ms;
}

img:hover {
  filter: none;
  transition: box-shadow 300ms;
  box-shadow: -6px -4px 10px var(--shadow-colour-a), 6px 4px 10px var(--shadow-colour-b);
}

.python-icon {
  --shadow-colour-a: #0176BB;
  --shadow-colour-b: #FDBF07;
}

.pandas-icon {
  --shadow-colour-a: #1A237E;
  --shadow-colour-b: #FF4081;
}

.numpy-icon {
  --shadow-colour-a: #4D77CF;
  --shadow-colour-b: #4DABCF;
}

.tensorflow-icon {
  --shadow-colour-a: #E55B2D;
  --shadow-colour-b: #ED8E24;
}

.keras-icon {
  /* Remove the padding since the icon has no transparent border. */
  padding: 0;
  --shadow-colour-a: #A80000;
  --shadow-colour-b: #111;
}

.discord-icon {
  --shadow-colour-a: #8B9EFF;
  --shadow-colour-b: #5865F2;
}

.flutter-icon {
  --shadow-colour-a: #45D1FD;
  --shadow-colour-b: #02539A;
}

.dart-icon {
  --shadow-colour-a: #03589C;
  --shadow-colour-b: #40C4FF;
}

.ruby-icon {
  --shadow-colour-a: #EC1622;
  --shadow-colour-b: #990E16;
  /* Increasing padding and reducing scale is a stylistic choice. */
  padding: 10px;
  scale: 0.85;
}

.rails-icon {
  --shadow-colour-a: #990E16;
  --shadow-colour-b: #D20000;
}

.sqlite-icon {
  --shadow-colour-a: #0F80CC;
  --shadow-colour-b: #003B57;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Section 3: Skills. */
#svg-skills {
  flex-direction: column;
}

#svg-skills-text {
  visibility: hidden;
}

#svg-skills-icon {
  height: 50vh;
  width: auto;
}

#skills-list {
  flex-direction: column;
  position: relative;
  left: 25vw;
  align-items: start;
  height: max-content;
  padding: 25px;
}

.skills-title {
  margin: 15px 0 25px 0;
}

@media only screen and (max-width: 768px) {
  #svg-skills-icon {
    height: 25vh;
    width: auto;
    position: relative;
    left: 2rem;
  }

  #skills-list {
    left: 5px;
  }

  li {
    font-size: 20px;
    width: auto;
  }

  @media only screen and (max-width: 425px) {
    #svg-skills {
      margin-top: 10vh;
    }
  }
}