:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #00377a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#name-title {
  position: absolute;
  padding-bottom: 25%;
  font-size: 4.2em;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.1;
  filter: drop-shadow(0 0 1em #ffffff);
}

#hero {
  position: fixed;
  bottom: 0;
  height: 50vh;
  will-change: filter;
  transition: filter 300ms;
  user-select: none;
  overflow: hidden;
}

#hero:hover {
  filter: drop-shadow(0 0 1em #ffffff7e);
}
